In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('Bengaluru_House_Data.csv')
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
df.tail()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.0
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.0
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.0
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.0
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [5]:
df.shape

(13320, 9)

In [6]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [7]:
df['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', nan, '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [8]:
df['size'][0].split()[0]

'2'

In [9]:
df['size']=[int(i.split()[0])if type(i)==str else np.nan for i in df['size']]

In [10]:
df.head(20)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2.0,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4.0,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3.0,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3.0,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2.0,NaN,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2.0,DuenaTa,1170,2.0,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4.0,Jaades,2732,4.0,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4.0,Brway G,3300,4.0,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3.0,NaN,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6.0,NaN,1020,6.0,NaN,370.00
10,Super built-up Area,18-Feb,Whitefield,3.0,NaN,1800,2.0,2.0,70.00
11,Plot Area,Ready To Move,Whitefield,4.0,Prrry M,2785,5.0,3.0,295.00
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2.0,Shncyes,1000,2.0,1.0,38.00
13,Built-up Area,Ready To Move,Gottigere,2.0,NaN,1100,2.0,2.0,40.00
14,Plot Area,Ready To Move,Sarjapur,3.0,Skityer,2250,3.0,2.0,148.00
15,Super built-up Area,Ready To Move,Mysore Road,2.0,PrntaEn,1175,2.0,2.0,73.50
16,Super built-up Area,Ready To Move,Bisuvanahalli,3.0,Prityel,1180,3.0,2.0,48.00
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3.0,GrrvaGr,1540,3.0,3.0,60.00
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3.0,PeBayle,2770,4.0,2.0,290.00
19,Super built-up Area,Ready To Move,Manayata Tech Park,2.0,NaN,1100,2.0,2.0,48.00

In [11]:
df['bhk']=df['size'].apply(lambda x: int(x.split(' ')[0]) if type(x)==str else x)
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,2.0,Coomee,1056,2.0,1.0,39.07,2.0
1,Plot Area,Ready To Move,Chikka Tirupathi,4.0,Theanmp,2600,5.0,3.0,120.00,4.0
2,Built-up Area,Ready To Move,Uttarahalli,3.0,NaN,1440,2.0,3.0,62.00,3.0
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3.0,Soiewre,1521,3.0,1.0,95.00,3.0
4,Super built-up Area,Ready To Move,Kothanur,2.0,NaN,1200,2.0,1.0,51.00,2.0

In [12]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [13]:
df['total_sqft'][30].split('-')

['2100 ', ' 2850']

In [14]:
for i,j in enumerate(df['total_sqft'].unique()):
    try:
        if type(float(j))==float:
            pass
    except Exception as e:
        print(e)

could not convert string to float: '2100 - 2850'
could not convert string to float: '3010 - 3410'
could not convert string to float: '2957 - 3450'
could not convert string to float: '3067 - 8156'
could not convert string to float: '1042 - 1105'
could not convert string to float: '1145 - 1340'
could not convert string to float: '1015 - 1540'
could not convert string to float: '1520 - 1740'
could not convert string to float: '34.46Sq. Meter'
could not convert string to float: '1195 - 1440'
could not convert string to float: '1200 - 2400'
could not convert string to float: '4125Perch'
could not convert string to float: '1120 - 1145'
could not convert string to float: '4400 - 6640'
could not convert string to float: '3090 - 5002'
could not convert string to float: '4400 - 6800'
could not convert string to float: '1160 - 1195'
could not convert string to float: '1000Sq. Meter'
could not convert string to float: '4000 - 5249'
could not convert string to float: '1115 - 1130'
could not convert string to float: '1100Sq. Yards'
could not convert string to float: '520 - 645'
could not convert string to float: '1000 - 1285'
could not convert string to float: '3606 - 5091'
could not convert string to float: '650 - 665'
could not convert string to float: '633 - 666'
could not convert string to float: '5.31Acres'
could not convert string to float: '30Acres'
could not convert string to float: '1445 - 1455'
could not convert string to float: '884 - 1116'
could not convert string to float: '850 - 1093'
could not convert string to float: '1440 - 1884'
could not convert string to float: '716Sq. Meter'
could not convert string to float: '547.34 - 827.31'
could not convert string to float: '580 - 650'
could not convert string to float: '3425 - 3435'
could not convert string to float: '1804 - 2273'
could not convert string to float: '3630 - 3800'
could not convert string to float: '660 - 670'
could not convert string to float: '1500Sq. Meter'
could not convert string to float: '620 - 933'
could not convert string to float: '142.61Sq. Meter'
could not convert string to float: '2695 - 2940'
could not convert string to float: '2000 - 5634'
could not convert string to float: '1574Sq. Yards'
could not convert string to float: '3450 - 3472'
could not convert string to float: '1250 - 1305'
could not convert string to float: '670 - 980'
could not convert string to float: '1005.03 - 1252.49'
could not convert string to float: '1004 - 1204'
could not convert string to float: '361.33Sq. Yards'
could not convert string to float: '645 - 936'
could not convert string to float: '2710 - 3360'
could not convert string to float: '2249.81 - 4112.19'
could not convert string to float: '3436 - 3643'
could not convert string to float: '2830 - 2882'
could not convert string to float: '596 - 804'
could not convert string to float: '1255 - 1863'
could not convert string to float: '1300 - 1405'
could not convert string to float: '1500 - 2400'
could not convert string to float: '117Sq. Yards'
could not convert string to float: '934 - 1437'
could not convert string to float: '980 - 1030'
could not convert string to float: '1564 - 1850'
could not convert string to float: '1446 - 1506'
could not convert string to float: '1070 - 1315'
could not convert string to float: '3040Sq. Meter'
could not convert string to float: '500Sq. Yards'
could not convert string to float: '2806 - 3019'
could not convert string to float: '613 - 648'
could not convert string to float: '1430 - 1630'
could not convert string to float: '704 - 730'
could not convert string to float: '1482 - 1846'
could not convert string to float: '2805 - 3565'
could not convert string to float: '3293 - 5314'
could not convert string to float: '1210 - 1477'
could not convert string to float: '3369 - 3464'
could not convert string to float: '1125 - 1500'
could not convert string to float: '167Sq. Meter'
could not convert string to float: '1076 - 1199'
could not convert string to float: '381 - 535'
could not convert string to float: '2215 - 2475'
could not convert string to float: '524 - 894'
could not convert string to float: '540 - 670'
could not convert string to float: '315Sq. Yards'
could not convert string to float: '1650 - 2538'
could not convert string to float: '2725 - 3250'
could not convert string to float: '1974 - 2171'
could not convert string to float: '888 - 1290'
could not convert string to float: '1360 - 1890'
could not convert string to float: '2466 - 2856'
could not convert string to float: '660 - 700'
could not convert string to float: '385 - 440'
could not convert string to float: '2100 - 5405'
could not convert string to float: '770 - 841'
could not convert string to float: '3Cents'
could not convert string to float: '1310 - 1615'
could not convert string to float: '1782 - 2000'
could not convert string to float: '188.89Sq. Yards'
could not convert string to float: '1469 - 1766'
could not convert string to float: '204Sq. Meter'
could not convert string to float: '1255 - 1350'
could not convert string to float: '870 - 1080'
could not convert string to float: '45Sq. Yards'
could not convert string to float: '133.3Sq. Yards'
could not convert string to float: '2580 - 2591'
could not convert string to float: '2563 - 2733'
could not convert string to float: '605 - 624'
could not convert string to float: '4260 - 4408'
could not convert string to float: '1349 - 3324'
could not convert string to float: '78.03Sq. Meter'
could not convert string to float: '3300 - 3335'
could not convert string to float: '1180 - 1630'
could not convert string to float: '1365 - 1700'
could not convert string to float: '3500 - 3600'
could not convert string to float: '122Sq. Yards'
could not convert string to float: '84.53Sq. Meter'
could not convert string to float: '2.09Acres'
could not convert string to float: '1482 - 1684'
could not convert string to float: '981 - 1249'
could not convert string to float: '1100 - 1225'
could not convert string to float: '1565 - 1595'
could not convert string to float: '24Guntha'
could not convert string to float: '1270 - 1275'
could not convert string to float: '840 - 1010'
could not convert string to float: '697Sq. Meter'
could not convert string to float: '655 - 742'
could not convert string to float: '800 - 2660'
could not convert string to float: '1408 - 1455'
could not convert string to float: '4050 - 4075'
could not convert string to float: '942 - 1117'
could not convert string to float: '1750 - 2640'
could not convert string to float: '1390 - 1600'
could not convert string to float: '598 - 958'
could not convert string to float: '1500Cents'
could not convert string to float: '132Sq. Yards'
could not convert string to float: '1010 - 1300'
could not convert string to float: '2Acres'
could not convert string to float: '3103 - 3890'
could not convert string to float: '1450 - 1950'
could not convert string to float: '1100Sq. Meter'
could not convert string to float: '15Acres'
could not convert string to float: '1450 - 1595'
could not convert string to float: '763 - 805'
could not convert string to float: '3307 - 3464'
could not convert string to float: '1.26Acres'
could not convert string to float: '620 - 934'
could not convert string to float: '2462 - 2467'
could not convert string to float: '540 - 740'
could not convert string to float: '1618 - 1929'
could not convert string to float: '3508 - 4201'
could not convert string to float: '4900 - 4940'
could not convert string to float: '1610 - 1880'
could not convert string to float: '755 - 770'
could not convert string to float: '664 - 722'
could not convert string to float: '151.11Sq. Yards'
could not convert string to float: '700 - 900'
could not convert string to float: '596 - 861'
could not convert string to float: '1925 - 2680'
could not convert string to float: '615 - 985'
could not convert string to float: '540 - 565'
could not convert string to float: '750 - 800'
could not convert string to float: '1660 - 1805'
could not convert string to float: '1410 - 1710'
could not convert string to float: '1079 - 1183'
could not convert string to float: '2800 - 2870'
could not convert string to float: '1230 - 1290'
could not convert string to float: '943 - 1220'
could not convert string to float: '2041 - 2090'
could not convert string to float: '527 - 639'
could not convert string to float: '1Grounds'
could not convert string to float: '1160 - 1315'
could not convert string to float: '706 - 716'
could not convert string to float: '2940Sq. Yards'
could not convert string to float: '1791 - 4000'
could not convert string to float: '45.06Sq. Meter'
could not convert string to float: '799 - 803'
could not convert string to float: '2470 - 2790'
could not convert string to float: '783 - 943'
could not convert string to float: '4500 - 5540'
could not convert string to float: '1255 - 1375'
could not convert string to float: '610 - 615'
could not convert string to float: '854 - 960'
could not convert string to float: '2650 - 2990'
could not convert string to float: '1.25Acres'
could not convert string to float: '86.72Sq. Meter'
could not convert string to float: '1230 - 1490'
could not convert string to float: '660 - 780'
could not convert string to float: '1150 - 1194'
could not convert string to float: '684 - 810'
could not convert string to float: '1200 - 1800'
could not convert string to float: '1510 - 1670'
could not convert string to float: '1550 - 1590'
could not convert string to float: '1235 - 1410'
could not convert string to float: '3484 - 3550'
could not convert string to float: '38Guntha'
could not convert string to float: '929 - 1078'
could not convert string to float: '2150 - 2225'
could not convert string to float: '1520 - 1759'
could not convert string to float: '629 - 1026'
could not convert string to float: '1215 - 1495'
could not convert string to float: '6Acres'
could not convert string to float: '1140 - 1250'
could not convert string to float: '2400 - 2600'
could not convert string to float: '1052 - 1322'
could not convert string to float: '5666 - 5669'
could not convert string to float: '712 - 938'
could not convert string to float: '1783 - 1878'
could not convert string to float: '120Sq. Yards'
could not convert string to float: '24Sq. Meter'
could not convert string to float: '2528 - 3188'
could not convert string to float: '650 - 760'
could not convert string to float: '1400 - 1421'
could not convert string to float: '4000 - 4450'
could not convert string to float: '142.84Sq. Meter'
could not convert string to float: '300Sq. Yards'
could not convert string to float: '2204 - 2362'
could not convert string to float: '1437 - 1629'
could not convert string to float: '850 - 1060'
could not convert string to float: '1200 - 1470'
could not convert string to float: '1020 - 1130'
could not convert string to float: '1133 - 1384'

In [25]:
for i,j in enumerate(df['total_sqft'].unique()):
    try:
        if type(float(j))==float:
            df['total_sqft'][i]=float(j)
    except:
        if '-' in j:
            df['total_sqft'][i]=j.split('-')
        elif 'Sq. Meter' in j:
            df['total_sqft'][i]=float(j.replace('Sq. Meter',""))*10
        elif 'Sq. Yards' in j:
            df['total_sqft'][i]=float(j.replace('Sq. Yards',""))*9
        else:
            df['total_sqft'][i]=np.nan

else:
    for i,j in enumerate(df['total_sqft']):
        if type(j)==float:
            continue
        elif type(j)==list:
            df['total_sqft'][i]=(float(j[0])+float(j[1]))/2

In [26]:
for i,j in enumerate(df['total_sqft'].unique()):
    try:
        if type(float(j))==float:
            pass
    except Exception as e:
        print(e)

could not convert string to float: '1125 - 1500'
could not convert string to float: '167Sq. Meter'
could not convert string to float: '1076 - 1199'
could not convert string to float: '381 - 535'
could not convert string to float: '2215 - 2475'
could not convert string to float: '524 - 894'
could not convert string to float: '540 - 670'
could not convert string to float: '315Sq. Yards'
could not convert string to float: '1650 - 2538'
could not convert string to float: '2725 - 3250'
could not convert string to float: '1974 - 2171'
could not convert string to float: '888 - 1290'
could not convert string to float: '1360 - 1890'
could not convert string to float: '2466 - 2856'
could not convert string to float: '660 - 700'
could not convert string to float: '385 - 440'
could not convert string to float: '2100 - 5405'
could not convert string to float: '770 - 841'
could not convert string to float: '3Cents'
could not convert string to float: '1310 - 1615'
could not convert string to float: '1782 - 2000'
could not convert string to float: '188.89Sq. Yards'
could not convert string to float: '1469 - 1766'
could not convert string to float: '204Sq. Meter'
could not convert string to float: '1255 - 1350'
could not convert string to float: '870 - 1080'
could not convert string to float: '45Sq. Yards'
could not convert string to float: '133.3Sq. Yards'
could not convert string to float: '2580 - 2591'
could not convert string to float: '613 - 648'
could not convert string to float: '2563 - 2733'
could not convert string to float: '605 - 624'
could not convert string to float: '4260 - 4408'
could not convert string to float: '1349 - 3324'
could not convert string to float: '78.03Sq. Meter'
could not convert string to float: '3300 - 3335'
could not convert string to float: '1180 - 1630'
could not convert string to float: '1365 - 1700'
could not convert string to float: '3500 - 3600'
could not convert string to float: '122Sq. Yards'
could not convert string to float: '2830 - 2882'
could not convert string to float: '84.53Sq. Meter'
could not convert string to float: '2.09Acres'
could not convert string to float: '1482 - 1684'
could not convert string to float: '981 - 1249'
could not convert string to float: '1100 - 1225'
could not convert string to float: '1565 - 1595'
could not convert string to float: '24Guntha'
could not convert string to float: '1270 - 1275'
could not convert string to float: '840 - 1010'
could not convert string to float: '697Sq. Meter'
could not convert string to float: '655 - 742'
could not convert string to float: '800 - 2660'
could not convert string to float: '1408 - 1455'
could not convert string to float: '4050 - 4075'
could not convert string to float: '942 - 1117'
could not convert string to float: '1750 - 2640'
could not convert string to float: '142.61Sq. Meter'
could not convert string to float: '1390 - 1600'
could not convert string to float: '598 - 958'
could not convert string to float: '1500Cents'
could not convert string to float: '132Sq. Yards'
could not convert string to float: '1010 - 1300'
could not convert string to float: '2Acres'
could not convert string to float: '3103 - 3890'
could not convert string to float: '1450 - 1950'
could not convert string to float: '1100Sq. Meter'
could not convert string to float: '15Acres'
could not convert string to float: '1450 - 1595'
could not convert string to float: '763 - 805'
could not convert string to float: '3307 - 3464'
could not convert string to float: '1.26Acres'
could not convert string to float: '620 - 934'
could not convert string to float: '2462 - 2467'
could not convert string to float: '540 - 740'
could not convert string to float: '1618 - 1929'
could not convert string to float: '3508 - 4201'
could not convert string to float: '2249.81 - 4112.19'
could not convert string to float: '4900 - 4940'
could not convert string to float: '1610 - 1880'
could not convert string to float: '755 - 770'
could not convert string to float: '664 - 722'
could not convert string to float: '151.11Sq. Yards'
could not convert string to float: '700 - 900'
could not convert string to float: '596 - 861'
could not convert string to float: '1925 - 2680'
could not convert string to float: '615 - 985'
could not convert string to float: '1200 - 2400'
could not convert string to float: '540 - 565'
could not convert string to float: '750 - 800'
could not convert string to float: '1660 - 1805'
could not convert string to float: '1410 - 1710'
could not convert string to float: '1079 - 1183'
could not convert string to float: '2800 - 2870'
could not convert string to float: '1230 - 1290'
could not convert string to float: '943 - 1220'
could not convert string to float: '2041 - 2090'
could not convert string to float: '527 - 639'
could not convert string to float: '645 - 936'
could not convert string to float: '1Grounds'
could not convert string to float: '1160 - 1315'
could not convert string to float: '706 - 716'
could not convert string to float: '2940Sq. Yards'
could not convert string to float: '1791 - 4000'
could not convert string to float: '45.06Sq. Meter'
could not convert string to float: '799 - 803'
could not convert string to float: '2470 - 2790'
could not convert string to float: '783 - 943'
could not convert string to float: '4500 - 5540'
could not convert string to float: '1255 - 1375'
could not convert string to float: '1430 - 1630'
could not convert string to float: '610 - 615'
could not convert string to float: '854 - 960'
could not convert string to float: '2650 - 2990'
could not convert string to float: '1.25Acres'
could not convert string to float: '86.72Sq. Meter'
could not convert string to float: '1230 - 1490'
could not convert string to float: '3630 - 3800'
could not convert string to float: '660 - 780'
could not convert string to float: '1150 - 1194'
could not convert string to float: '684 - 810'
could not convert string to float: '1200 - 1800'
could not convert string to float: '1510 - 1670'
could not convert string to float: '1550 - 1590'
could not convert string to float: '1235 - 1410'
could not convert string to float: '3484 - 3550'
could not convert string to float: '38Guntha'
could not convert string to float: '929 - 1078'
could not convert string to float: '2150 - 2225'
could not convert string to float: '1520 - 1759'
could not convert string to float: '629 - 1026'
could not convert string to float: '1215 - 1495'
could not convert string to float: '6Acres'
could not convert string to float: '1140 - 1250'
could not convert string to float: '2400 - 2600'
could not convert string to float: '1052 - 1322'
could not convert string to float: '5666 - 5669'
could not convert string to float: '712 - 938'
could not convert string to float: '1783 - 1878'
could not convert string to float: '120Sq. Yards'
could not convert string to float: '24Sq. Meter'
could not convert string to float: '2528 - 3188'
could not convert string to float: '650 - 760'
could not convert string to float: '1400 - 1421'
could not convert string to float: '4000 - 4450'
could not convert string to float: '142.84Sq. Meter'
could not convert string to float: '300Sq. Yards'
could not convert string to float: '1115 - 1130'
could not convert string to float: '2204 - 2362'
could not convert string to float: '1437 - 1629'
could not convert string to float: '850 - 1060'
could not convert string to float: '1804 - 2273'
could not convert string to float: '1200 - 1470'
could not convert string to float: '1020 - 1130'
could not convert string to float: '1133 - 1384'

In [23]:
df.head(40)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,2.0,Coomee,1056.0,2.0,1.0,39.07,2.0
1,Plot Area,Ready To Move,Chikka Tirupathi,4.0,Theanmp,2600.0,5.0,3.0,120.00,4.0
2,Built-up Area,Ready To Move,Uttarahalli,3.0,NaN,1440.0,2.0,3.0,62.00,3.0
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3.0,Soiewre,1521.0,3.0,1.0,95.00,3.0
4,Super built-up Area,Ready To Move,Kothanur,2.0,NaN,1200.0,2.0,1.0,51.00,2.0
5,Super built-up Area,Ready To Move,Whitefield,2.0,DuenaTa,1170.0,2.0,1.0,38.00,2.0
6,Super built-up Area,18-May,Old Airport Road,4.0,Jaades,2732.0,4.0,NaN,204.00,4.0
7,Super built-up Area,Ready To Move,Rajaji Nagar,4.0,Brway G,3300.0,4.0,NaN,600.00,4.0
8,Super built-up Area,Ready To Move,Marathahalli,3.0,NaN,1310.0,3.0,1.0,63.25,3.0
9,Plot Area,Ready To Move,Gandhi Bazar,6.0,NaN,1020.0,6.0,NaN,370.00,6.0
10,Super built-up Area,18-Feb,Whitefield,3.0,NaN,1800.0,2.0,2.0,70.00,3.0
11,Plot Area,Ready To Move,Whitefield,4.0,Prrry M,2785.0,5.0,3.0,295.00,4.0
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2.0,Shncyes,1000.0,2.0,1.0,38.00,2.0
13,Built-up Area,Ready To Move,Gottigere,2.0,NaN,1100.0,2.0,2.0,40.00,2.0
14,Plot Area,Ready To Move,Sarjapur,3.0,Skityer,2250.0,3.0,2.0,148.00,3.0
15,Super built-up Area,Ready To Move,Mysore Road,2.0,PrntaEn,1175.0,2.0,2.0,73.50,2.0
16,Super built-up Area,Ready To Move,Bisuvanahalli,3.0,Prityel,1180.0,3.0,2.0,48.00,3.0
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3.0,GrrvaGr,1540.0,3.0,3.0,60.00,3.0
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3.0,PeBayle,2770.0,4.0,2.0,290.00,3.0
19,Super built-up Area,Ready To Move,Manayata Tech Park,2.0,NaN,600.0,2.0,2.0,48.00,2.0
20,Built-up Area,Ready To Move,Kengeri,1.0,NaN,1755.0,1.0,1.0,15.00,1.0
21,Super built-up Area,19-Dec,Binny Pete,3.0,She 2rk,2800.0,3.0,1.0,122.00,3.0
22,Plot Area,Ready To Move,Thanisandra,4.0,Soitya,1767.0,5.0,2.0,380.00,4.0
23,Super built-up Area,Ready To Move,Bellandur,3.0,NaN,510.0,3.0,1.0,103.00,3.0
24,Super built-up Area,18-Nov,Thanisandra,1.0,Bhe 2ko,1250.0,1.0,0.0,25.25,1.0
25,Super built-up Area,18-May,Mangammanapalya,3.0,NaN,660.0,3.0,2.0,56.00,3.0
26,Super built-up Area,Ready To Move,Electronic City,2.0,Itelaa,1610.0,1.0,1.0,23.10,2.0
27,Built-up Area,20-Dec,Whitefield,3.0,NaN,1151.0,3.0,2.0,81.00,3.0
28,Super built-up Area,17-Oct,Ramagondanahalli,2.0,ViistLa,1025.0,2.0,2.0,48.77,2.0
29,Super built-up Area,Ready To Move,Electronic City,3.0,KBityo,2475.0,2.0,1.0,47.00,3.0
30,Super built-up Area,19-Dec,Yelahanka,4.0,LedorSa,1075.0,4.0,0.0,186.00,4.0
31,Super built-up Area,Ready To Move,Bisuvanahalli,3.0,Prityel,1760.0,2.0,1.0,35.00,3.0
32,Super built-up Area,Ready To Move,Hebbal,3.0,Mahosya,1693.0,2.0,2.0,123.00,3.0
33,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3.0,GrrvaGr,1925.0,3.0,3.0,57.39,3.0
34,Built-up Area,Ready To Move,Kasturi Nagar,3.0,Kantsce,700.0,3.0,NaN,125.00,3.0
35,Super built-up Area,21-Dec,Kanakpura Road,2.0,PrarePa,1070.0,2.0,1.0,36.00,2.0
36,Super built-up Area,Ready To Move,Electronics City Phase 1,2.0,NaN,1724.0,2.0,1.0,45.50,2.0
37,Super built-up Area,Ready To Move,Kundalahalli,3.0,Dieldli,1290.0,3.0,2.0,125.00,3.0
38,Super built-up Area,Ready To Move,Chikkalasandra,3.0,NaN,1143.0,2.0,2.0,56.12,3.0
39,Built-up Area,Ready To Move,Uttarahalli,2.0,NaN,1296.0,2.0,2.0,45.00,2.0

In [27]:
df_m=df.dropna()
df_m.isnull().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
bhk             0
dtype: int64

In [28]:
df['location']= df['location'].fillna(df['location'].mode()[0])
df.isnull().sum()

area_type          0
availability       0
location           0
size              16
society         5502
total_sqft        13
bath              73
balcony          609
price              0
bhk               16
dtype: int64

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13320 non-null  object
 3   size          13304 non-null  float64
 4   society       7818 non-null   object
 5   total_sqft    13307 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
 9   bhk           13304 non-null  float64
dtypes: float64(5), object(5)
memory usage: 1.0+ MB

In [30]:
df['society']= df['society'].fillna(df['society'].mode()[0])
df.isnull().sum()

area_type         0
availability      0
location          0
size             16
society           0
total_sqft       13
bath             73
balcony         609
price             0
bhk              16
dtype: int64

In [31]:
df['total_sqft']= df['total_sqft'].fillna(df['total_sqft'].mode()[0])
df.isnull().sum()

area_type         0
availability      0
location          0
size             16
society           0
total_sqft        0
bath             73
balcony         609
price             0
bhk              16
dtype: int64

In [32]:
df['size']= df['size'].fillna(df['size'].mode()[0])
df.isnull().sum()

area_type         0
availability      0
location          0
size              0
society           0
total_sqft        0
bath             73
balcony         609
price             0
bhk              16
dtype: int64

In [33]:
df['bath']= df['bath'].fillna(df['bath'].mode()[0])
df.isnull().sum()

area_type         0
availability      0
location          0
size              0
society           0
total_sqft        0
bath              0
balcony         609
price             0
bhk              16
dtype: int64

In [34]:
df['balcony']= df['balcony'].fillna(df['balcony'].mode()[0])
df.isnull().sum()

area_type        0
availability     0
location         0
size             0
society          0
total_sqft       0
bath             0
balcony          0
price            0
bhk             16
dtype: int64

In [35]:
df['bhk']= df['bhk'].fillna(df['bhk'].mode()[0])
df.isnull().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
bhk             0
dtype: int64